# Whitelist: track only source/, .cursor/, and out/html/img/
# (plus this file). Everything else is ignored.

/*
!.gitignore
!robots.txt

!source/
!source/**

!.cursor/
!.cursor/**

!out/
out/*
!out/html/
out/html/*
!out/html/robots.txt
!out/html/img/
!out/html/img/**
